.mainPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
}

.searchAndSortWrapper {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.searchInputWrapper {
  position: relative;
}

.open {
  position: absolute;
  top: 26%;
  left: 4.5%;
}

.searchclose {
  position: absolute;
  top: 26%;
  left: 4.5%;
}

.close {
  position: absolute;
  top: 30%;
  right: 4.5%;
  color: linear-gradient(233.73deg, #f83600 -16.08%, #f9d423 327.37%);
}

.open {
  position: absolute;
  top: 26%;
  left: 4.5%;
}

.searchclose {
  position: absolute;
  top: 26%;
  left: 4.5%;
}

.close {
  position: absolute;
  top: 30%;
  right: 4.5%;
  color: linear-gradient(233.73deg, #f83600 -16.08%, #f9d423 327.37%);
}

.searchInput:focus {
  color: #f8690b;
}

.itemsView {
  display: flex;
  align-items: center;
  gap: 16px;
}

.svgWrapper {
  width: 38px;
  height: 38px;
  color: #a7a7a7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: var(--default-boxshadow);
}

.svgWrapper:active {
  box-shadow: var(--pressed-boxshadow-btn);
}

.activeWrapper {
  filter: brightness(0) saturate(100%) invert(86%) sepia(81%) saturate(6277%) hue-rotate(179deg) brightness(116%)
    contrast(97%);
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18))
    drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
}

.activeWrapper img {
  filter: brightness(0) saturate(100%) invert(86%) sepia(81%) saturate(6277%) hue-rotate(179deg) brightness(116%)
    contrast(97%);
}

.sortInputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 20px;
  height: 38px;
  box-shadow: var(--default-boxshadow), 0px 1px 5px rgba(191, 196, 201, 0.24);
  padding-inline: 16px;
  gap: 8px;
}

.sortInput {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #a7a7a7;
  border: none;
  outline: none;
}

.searchWrapper {
  display: flex;
  gap: 16px;
}

.cardGridtWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  column-gap: 2%;
  row-gap: 32px;
}

.cardFlexWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21.5px;
}

.nothingFind {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55vh;
  color: #a7a7a7;
  text-align: center;
  line-height: 28px;
}

.nothingFindBr {
  display: none;
}
@media screen and (max-width: 1400px) {
  .cardGridtWrapper {
    column-gap: 6px;
  }
}

@media screen and (max-width: 1300px) {
  .cardGridtWrapper {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
  }
}

@media screen and (max-width: 1150px) {
  .cardGridtWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2%;
  }
}

@media screen and (max-width: 1050px) {
  .cardGridtWrapper {
    column-gap: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .cardGridtWrapper {
    grid-template-columns: 30% 30% 30%;
    column-gap: normal;
  }
}

@media screen and (max-width: 715px) {
  .cardGridtWrapper {
    grid-template-columns: 45% 45%;
  }

  .nothingFindBr {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .cardGridtWrapper {
    grid-template-columns: 100%;
  }

  .sortInput {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .sortInputWrapper {
    width: 150px;
    height: 38px;
  }

  .searchInput {
    width: 276px;
    height: 38px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 400px) {
  .mainPage {
    gap: 19px;
  }

  .cardGridtWrapper {
    justify-content: center;
    grid-template-columns: 288px;
  }

  .sortInput {
    display: none;
  }

  .sortInputWrapper {
    padding: 0;
    width: 32px;
    height: 32px;
  }

  .searchInput {
    display: none;
  }

  .open {
    top: 20%;
    left: 25%;
  }

  .searchInputMini {
    width: 32px;
    height: 32px;
    box-shadow: var(--default-boxshadow), 0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 50%;
  }

  .activeWrapper {
    width: 32px;
    height: 32px;
  }

  .svgWrapper {
    width: 32px;
    height: 32px;
  }
}
