.root {
  display: flex;
}

.starRating {
  display: flex;
  gap: 6px;
}

.raitingInModal {
  display: flex;
  gap: 19px;
}

.raitingInModal button {
  width: 36px;
  height: 36px;
}

.raitingInModal button span {
  display: inline-block;
  width: 36px;
  height: 36px;
}

.raitingInModal button span img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.root button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
