.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  max-width: 416px;
}

.modalButton {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-radius: 30px;
  outline: transparent;
  border: transparent;
  padding: 14px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  text-transform: uppercase;
}

.root h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-top: 20px;
  color: #363636;
}

.root p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #363636;
}
